.birdsListAtlas {
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.alphabetNav {
  display: flex;
  flex-direction: column;
  margin: 16px;
  margin-top: 24px;
  align-items: center;
  right: 0;
  transition: top 0.3s; /* Add a smooth transition effect */
}
.sticky {
  position: fixed;
  top: 0;
  right: 0; /* Adjust as needed */
}
.alphabetNav a {
  text-decoration: none;
  color: var(--yellow);
  font-family: var(--logo-font);
  font-weight: lighter;
  font-size: 1rem;
  margin-bottom: 0px;
}
.alphabet-letter {
  font-family: var(--logo-font);
}
.alphabet-letter.no-birds {
  opacity: 0.3;
}
.separator {
  background-color: var(--yellow);
  opacity: 0.7;
  height: 2px;
  border: none;
  width: 100%; /* Make it full-width */
}
.birdLetterGroup {
  margin: 16px;
  margin-right: 40px;
}

.birdItemAtlas {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 12px;
}
.birdItemAtlasImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.birdItemAtlasNames {
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
}

.birdItemAtlasNames h4 {
  font-family: var(--logo-font);
  font-weight: lighter;
  font-size: 1.1rem;
}
.birdItemAtlasNames h5 {
  font-weight: lighter;
  font-style: italic;
}

@media screen and (max-width: 230px) {
  .birdItemAtlas {
    flex-direction: column;
  }
  .birdItemAtlasImage {
    width: 120px;
    height: 120px;
  }
  .alphabetNav {
    margin: 16px 0px;
    margin-right: 5%;
  }
  .alphabetNav a {
    font-size: 0.8rem;
    margin-top: -1px;
  }
  .alphabetNav {
    margin-top: 4px;
  }
  .sticky {
    right: 5%;
    margin-right: 0%;
  }
  .birdItemAtlasNames {
    padding: 0;
    padding-top: 4px;
    padding-bottom: 8px;
  }
}
