.bigRectangle {
  width: 100%;
  height: 100px;
  background-color: var(--black);
  z-index: -11;
  position: relative;
}

.bigRectangleTwo {
  width: 100%;
  height: 1000px;
  background-color: yellowgreen;
}

.homeContent {
  margin: 16px;
  padding-bottom: 120px;
}

.quizCardsHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.headingHome {
  font-size: 1.25rem;
}

@media screen and (max-width: 230px) {
  .quizCardsHome {
    flex-direction: column !important;
  }
  .quizCardsHome > * {
    margin-bottom: 8px;
  }
}
