body,
html {
  height: 100%;
  width: 100%;
}

.splash {
  background-color: var(--black);
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.splash > * {
  margin-bottom: 1rem;
}
.logoSplash {
  width: 50%;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.1; /* Fully transparent at the start and end */
  }
  50% {
    opacity: 1; /* Fully opaque in the middle of the animation */
  }
}
