.logoHeader {
  width: 20%;
  margin-left: 1rem;
}

.headerHomeG {
  height: 80px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.smallerFont {
  font-size: 1.25rem !important;
  text-align: center;
}
