.pageHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--black);
  height: 70px;
}

.pageHeader h2 {
  color: var(--grey);
  font-weight: lighter;
}

.backArrow {
  height: 20px;
  padding-right: 16px;
  padding-left: 16px;
}

.pageName {
  flex-grow: 1;
  text-align: center;
  margin-right: 32px;
}
