.logoHeader {
  width: 20%;
  margin-left: 1rem;
}

.headerHomeG {
  height: 80px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.smallerFont {
  font-size: 1.25rem !important;
  text-align: center;
}

@media screen and (max-width: 230px) {
  /* Styles for small screens */
  .logoHeader {
    width: 30%;
    margin-left: 0.5rem;
  }
  .headerHomeG {
    height: 60px;
  }
  .smallerFont {
    text-align: left;
    font-size: 1rem !important;
  }
}
